---
---

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="James Percival : News">
    <link rel="stylesheet" type="text/css" media="screen"
      href="stylesheets/stylesheet.css">
    <title>News</title>
  </head>
  <body>
    {% include header.html %}
    {% include menu.html %}
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <div id="title">
          <h1> Contact Page </h1>
	  <img src="{{ site.url }}/images/jrper-qr-logo.png" with=160px style="display:block; margin:0 auto;">
        </div>
        <hr>
        I can be contacted via the information given on my Imperial College <a href=http://www.imperial.ac.uk/people/j.percival>personal webpage</a>. To send physical mail, see the address below.<br>
        <hr>
	Dr. James Percival<br>
	Department of Earth Science and Engineering<br>
	South Kensington Campus<br>
	Imperial College London<br>
	SW7 2AZ<br>
	UK
      </section>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
