---
---

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="James Percival : My github pages
      stuff">
    <link rel="stylesheet" type="text/css" media="screen"
      href="stylesheets/stylesheet.css">
    <title>James Percival</title>
  </head>
  <body>
    {% include header.html %}
    {% include menu.html %}
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h2> Fluidity Links </h2>
        <p> <a href="http://fluidityproject.github.io"> Main <em>Fluidity</em>
            Github pages site </a> <br>
          <a href="http://fluidityproject.github.io/multifluids">
            multifluids Github pages site </a> </p>
        <h2 id="presentations"> Presentations </h2>
        <p> Presentation to Norms group October 2013: <a
            href="http://jrper.github.io/talks/NORMS/MeshAdaptivity.pptx">Mesh
            Adaptivity</a> <br>
          Presentation to Norms group October 2014: Mesh adaptivity (<a
href="talks/NORMS/Percival-JR_NORMS_mesh_adaptivity_121114.pdf">pdf</a>)
          (<a
            href="talks/NORMS/Percival-JR_NORMS_mesh_adaptivity_121114.pptx">pptx</a>)
          <br>
          Presentation to APS-DFD November 2014: Mesh adaptivity (<a
            href="talks/APS-DFD2014/APStalk-jrper.pdf">pdf</a>) (<a
            href="talks/APS-DFD2014/APStalk-jrper-1.pptx">pptx</a>) </p>
        <h2 id=training> <a id="training-materials" class="anchor"
            href="#training-materials" aria-hidden="true"><span
              class="octicon octicon-link"></span></a>Training materials</h2>
        <p>Slides 1: <a href="http://jrper.github.io/IntroToFEM.pdf">Introduction to FEM</a> <br>
          Slides 2: <a href="http://jrper.github.io/Adaptivity.pdf">Mesh Adaptivity and Fluidity</a></p>
        <h2 id="publications"> Publications </h2>
        <p><a href="http://onlinelibrary.wiley.com/doi/10.1002/fld.4078/abstract">Compressive advection and multi-component methods for
            interface-capturing</a> - D. Pavlidis, J.L.M.A. Gomes, Z.
          Xie, J.R. Percival, C.C. Pain and O.K. Matar; International
          Journal for Numerical Methods in Fluids (2015) <br>
          <a href="">Reservoir Modeling for Flow Simulation by Use of
            Surfaces, Adaptive Unstructured Meshes, and an
            Overlapping-Control-Volume Finite-Element Method</a> - M. D.
          Jackson, J. R. Percival, P. Mostaghimi, B. Tollit, D.
          Pavlidis, C. C. Pain, J. Gomes, A. H. Elsheikh, P. Salinas, A.
          Muggeridge and M. Blunt; SPE (2015) <br>
          <a
            href="http://onlinelibrary.wiley.com/doi/10.1111/gfl.12129/full">Multiphase    flow simulation through porous media with explicitly
            resolved fractures</a> K. Su, J.-P. Latham, D. Pavlidis, J.
          Xiang, F. Fang, P. Mostaghimi, J. R. Percival, C. C. Pain and
          M. D. Jackson; Geofluids(2015) <br>
          <a
            href="http://link.springer.com/article/10.1007/s11004-014-9579-1">Anisotropic    Mesh Adaptivity and Control Volume Finite Element Methods
            for Numerical Simulation of Multiphase Flow in Porous Media</a>
          P. Mostaghimi, J. R. Percival, D. Pavlidis, R. J. Ferrier, J.
          L. M. A. Gomes, F. J. Gorman, M. D. Jackson, S. J. Neethling
          and C. C. Pain; Mathematical Geosciences(2015) <br>
          <a
href="http://www.sciencedirect.com/science/article/pii/S0301932214001360">Two-and three-phase horizontal slug flow simulations using an
            interface-capturing compositional approach</a> - D.
          Pavlidis, Z. Xie, J. R. Percival, J. L. M. A. Gomes, C. C.
          Pain and O. K. Matar; International Journal of Multiphase Flow
          (2014) <br>
          <a
href="http://www.sciencedirect.com/science/article/pii/S0301932214001438">Adaptive            unstructured mesh modelling of multiphase flows</a> - Z.
          Xie, D. Pavlidis, J. R. Percival, J. L. M. A. Gomes, C. C.
          Pain and O. K. Matar; International Journal of Multiphase Flow
          (2014) <br>
          <a href="http://www.sciencedirect.com/science/article/pii/S0301932214001815">
            Control volume finite element modelling of segregation of
            sand and granular flows in fluidized beds </a> - J. R.
          Percival, D. Pavlidis, Z. Xie, J. L. M. Gomes, M. Sakai, Y.
          Shigeto, H. Takahashi, O. K. Matar and C. C. Pain;
          International Journal of Multiphase Flow (2014)</p>
      </section>
    </div>
  {% include footer.html %}
  </body>
</html>
