---
title: Blog index - by tag
---
{% assign tags = site.tags | sort %}
<ul class="tags">
    {% for tag in tags %}
       {% assign t = tag | first %}
       {% assign posts = tag | last %}
       <li><a class="tags" href ="/tags.html#{{ t | downcase }}">{{t | downcase | replace:" ","-" }}</a> has {{ posts | size }} posts</li>
    {% endfor %}
</ul>

{% for tag in tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
<div id="tags">
<a name="{{ t | downcase }}"></a><a href ="/tags.html#{{ t | downcase }}">{{ t | downcase }}</a>
</div>
<ul>
{% for post in posts %}
  {% if post.tags contains t %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
  </li>
  {% endif %}
{% endfor %}
</ul>
{% endfor %}

