<!-- MENU -->
<div id="menu">
<nav>
<ul>
<li><a href="{{ site.url }}/index.html">Home</a></li>
<li><a href="{{ site.url }}/blog/">Blog</a></li>
<li><a href="{{ site.url }}/videos.html">Videos</a></li>
<li><a href="{{ site.url }}/index.html#training">Fluidity Training</a></li>
<li><a href="{{ site.url }}/paraview.html">Paraview Plugins</a></li>
<li><a href="{{ site.url }}/index.html#presentations">Presentations</a></li>
<li><a href="{{ site.url }}/publications.html">Publications</a></li>
<li><a href="{{ site.url }}/index.html#links">Links</a></li>
<li><a href="{{ site.url }}/news.html">News</a></li>
<li><a href="{{ site.url }}/contact.html">Contact</a></li>
</ul>
</nav>
</div>