<!-- MENU -->
<div id="menu">
<nav>
<ul>
<li><a href="{{ site.url }}/index.html">Home</a></li>
<li >
    <div id="submenu">
    <a href="{{ site.url }}/blog/">Blog</a>
    <ul>
    <li> <a href="{{ site.url }}/blog/index.html">by date</a></li>
    <li> <a href="{{ site.url }}/tags.html">by tag</a></li>
    <li> <a href="{{ site.url }}/blog.html">by title</a></li>
    </ul>
    </div>
</li>
<li><a href="{{ site.url }}/videos.html">Videos</a></li>
<li><a href="{{ site.url }}/training.html">Fluidity Training</a></li>
<li><a href="{{ site.url }}/paraview.html">Paraview Plugins</a></li>
<li><a href="{{ site.url }}/presentations.html">Presentations</a></li>
<li><a href="{{ site.url }}/publications.html">Publications</a></li>
<li><a href="{{ site.url }}/teaching.html">Teaching</a></li>
<li><a href="{{ site.url }}/index.html#links">Links</a></li>
<li><a href="{{ site.url }}/news.html">News</a></li>
<li><a href="{{ site.url }}/contact.html">Contact</a></li>
</ul>
<a id="forkme_banner" href="https://github.com/jrper">View on GitHub</a>
</nav>
</div>