<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="James Percival Github pages">
    <link rel="stylesheet" type="text/css" media="screen"
      href="{{ site.url }}/stylesheets/stylesheet.css">
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>	     
    {% feed_meta %}
  </head>
  <body>
  <script type="text/x-mathjax-config"> 
    MathJax.Hub.Config({ 
        "HTML-CSS": { scale: 125, linebreaks: { automatic: true } }, 
        SVG: { linebreaks: { automatic:true } }, 
        displayAlign: "center" });
</script>	      
    {% include header.html %}
    {% include menu.html %}
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <div id="title">
          <h1>{{ page.title }}</h1>
        </div>
        <hr>
        {{ content }}
	{% include _tags.md obj=page %}
      </section>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
